<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Signup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="login-page">

    <div class="logo">
        <img src="assets/img/applogo.png" alt="MKI Logo">
    </div>

    <form #signupForm="ngForm" novalidate>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-label position="stacked" color="primary">Name</ion-label>
                <ion-input [(ngModel)]="signup.name" name="name" type="name" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.name.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Name is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Surname</ion-label>
                <ion-input [(ngModel)]="signup.surname" name="surname" type="surname" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.surname.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Surname is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Phone</ion-label>
                <ion-input [(ngModel)]="signup.phone" name="phone" type="phone" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.phone.length == 10 || submitted == false" color="danger" class="ion-padding-start">
                Phone is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Institution</ion-label>
                <ion-input [(ngModel)]="signup.institution" name="institution" type="phone" #institution="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.phone.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Institution is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Position</ion-label>
                <ion-input [(ngModel)]="signup.position" name="position" type="text" #position="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.position.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Position is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Email</ion-label>
                <ion-input [(ngModel)]="signup.email" name="email" type="email" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="email.valid || submitted == false" color="danger" class="ion-padding-start">
                Email is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="password.valid || submitted == false" color="danger" class="ion-padding-start">
                Password is required
            </ion-text>
        </ion-list>

        <p class="ion-padding ion-margin-start">
            <ion-text color="danger">
                {{signupError}}
            </ion-text>
        </p>

        <div class="ion-padding">
            <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
        </div>
    </form>

</ion-content>
