<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding ion-text-center" *ngIf="person.email">
        <img [src]="person.image" alt="">
        <h2>{{person.email}}</h2>
        <form #signupForm="ngForm" novalidate>
            <ion-list class="ion-padding">
                <ion-item>
                    <ion-label position="stacked" color="primary">Name</ion-label>
                    <ion-input [(ngModel)]="person.name" name="name" type="text" #name="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="person.name.length > 1" color="danger" class="ion-padding-start">
                    Name is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Surname</ion-label>
                    <ion-input [(ngModel)]="person.surname" name="surname" type="text" #surname="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="person.surname.length > 1" color="danger" class="ion-padding-start">
                    Surname is required
                </ion-text> 

                <ion-item>
                    <ion-label position="stacked" color="primary">Phone</ion-label>
                    <ion-input [(ngModel)]="person.phone" name="phone" type="text" #phone="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="person.phone.length > 1" color="danger" class="ion-padding-start">
                    Phone is required
                </ion-text>
                <ion-item>
                    <ion-row class="center">
                        <ion-button (click)="getPicture(0)">Update profile picture</ion-button>
                    </ion-row>
                    <br />
                    <ion-row style="width:100%">
                        <img [src]="captureDataUrl" *ngIf="captureDataUrl" />

                    </ion-row>
                </ion-item>

            </ion-list>

            <p class="ion-padding ion-margin-start">
                <ion-text color="danger">
                    {{signupError}}
                </ion-text>
            </p>

            <div class="ion-padding">
                <ion-button (click)="updateUser(signupForm, signupForm, captureDataUrl)" type="submit" expand="block">Update Account</ion-button>
            </div>
        </form>

        <ion-button expand="block" (click)="logout()">Logout</ion-button>
    </div>
</ion-content>
