<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
        </ion-buttons>

        <ion-title>{{session.title}}</ion-title>

        <!--<ion-buttons slot="end" *ngIf="session && session.subsession">
            <ion-button (click)="toggleFavorites(session.id)">
                <ion-icon name="star-outline" slot="icon-only" *ngIf="!isInFavorites(session.favorite)"></ion-icon>
                <ion-icon name="star" slot="icon-only" *ngIf="isInFavorites(session.favorite)"></ion-icon>
            </ion-button>
        </ion-buttons>-->
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="Details">
                Details
            </ion-segment-button>
            <ion-segment-button value="Sessions">
                Sessions
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="session">
        <div *ngIf="segment == 'Details'">
            <div class="ion-padding">
                <h1>{{session.title}}</h1>
                <p>
                    {{session.startdatetime | date:'fullDate'}} - {{session.enddatetime | date:'fullDate'}}
                </p>
                <p>{{session.location}}</p>
                <span class="large" [innerHTML]="session.description"></span>
                <div>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(1, session)" slot="icon-only" *ngIf="!rate1"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(1, session)" slot="icon-only" *ngIf="rate1"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(2, session)" slot="icon-only" *ngIf="!rate2"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(2, session)" slot="icon-only" *ngIf="rate2"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(3, session)" slot="icon-only" *ngIf="!rate3"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(3, session)" slot="icon-only" *ngIf="rate3"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(4, session)" slot="icon-only" *ngIf="!rate4"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(4, session)" slot="icon-only" *ngIf="rate4"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(5, session)" slot="icon-only" *ngIf="!rate5"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(5, session)" slot="icon-only" *ngIf="rate5"></ion-icon>
                </div>
                <div>
                    <ion-button (click)="share()">
                        <ion-icon slot="icon-only" class="pull-right" name="share"></ion-icon>
                    </ion-button>

                    <ion-button (click)="deletersvp(session)" *ngIf="session.rsvpd" slot="end">RSVP'd</ion-button>
                    <ion-button (click)="addrsvp(session)" *ngIf="!session.rsvpd" fill="outline" slot="end">RSVP</ion-button>
                </div>

                <br />
                <h3 style="text-align:center">Speakers</h3>
                <ion-list>
                    <ion-item button detail="false" *ngFor="let speaker of speakers">
                        <ion-label>
                            <h2>{{speaker.names}}</h2>
                            <p>{{speaker.institution}}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>

            <ion-list *ngIf="session.speakers && session.speakers.length">
                <ion-list-header>Speakers</ion-list-header>

                <ion-item *ngFor="let speaker of session.speakers">
                    {{speaker}}
                </ion-item>
            </ion-list>

            <h3 style="text-align:center">Documents</h3>

            <div>
                <ion-list>
                    <ion-item-sliding *ngFor="let f of files">
                        <ion-item (click)="openFile(f)">
                            <ion-icon name="document" slot="start" *ngIf="f.name.endsWith('pdf')"></ion-icon>

                            <ion-label class="ion-text-wrap">
                                {{ f.name }}
                            </ion-label>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
            </div>

            <ion-button *ngIf="session.owner.length" (click)="deleteevent(session.id)" type="submit" expand="block">Delete Event</ion-button>

            <br />
            <h3 style="text-align:center">Comments</h3>
            <br />
            <ion-grid>

                <br />
                <ion-item *ngFor="let comment of comments_items">

                    <ion-row style="width:100%">
                        <ion-col>
                            <div>
                                {{ comment.comment }}
                                <br>
                                <small>{{ comment.date.toDate() | date: 'fullDate'}} <br> by {{ comment.user }}</small>
                                <hr style="width:80%;border-style:dotted; border:1px; height:1px; background-color :gray" />
                            </div>
                        </ion-col>


                        <ion-col size="3" size-sm style="width:10%; align-content:center">
                            <div>
                                <ion-button *ngIf="useremail == comment.email" (click)="deletecomment(comment.id)">X</ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-grid>

            <hr style="width:100%; border:1px; height:1px; background-color :gray" />

            <form #signupForm="ngForm" novalidate>
                <ion-list class="ion-padding">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Comment</ion-label>
                        <ion-input [(ngModel)]="comment.comment" name="comment" type="comment" #commentq="ngModel" required>
                        </ion-input>
                    </ion-item>
                    <ion-text [hidden]="comment.comment.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                        Comment is required
                    </ion-text>

                </ion-list>

                <div class="ion-padding">
                    <ion-button (click)="addComment(signupForm, signupForm, '')" *ngIf="useremail" type="submit" expand="block">Add Comment</ion-button>
                </div>
                <br />


            </form>
            <div id="map">
                <div style="height: 300px; width: 100%" #mapCanvas id="map_canvas"></div>
            </div>
        </div>

        <div *ngIf="segment == 'Sessions'">
            <ion-item *ngFor="let session of sessions_items">
                <ion-item button (click)="goToSessionDetail(session)">
                    <div class="subsession-item">
                        <ion-label>{{session.title}}</ion-label>
                        <ion-note>
                            {{session.startdatetime | date:'shortTime'}} &mdash; {{session.enddatetime | date:'shortTime'}}
                        </ion-note>
                    </div>
                </ion-item> 
            </ion-item>

        </div>

        </div>
</ion-content>
