<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Peers</ion-title>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateChat()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button detail="false" *ngFor="let c of chat" (click)="goToSpeakerDetail(c)">
            <ion-avatar slot="start">
                <img [src]="c.image">
            </ion-avatar>
            <ion-label>
                <h2>{{c.name}} {{c.surname}}</h2>
                <p>{{c.email}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
