<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Events</ion-title>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" (ionChange)="updateList()">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="yes">
                Favorites
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateList()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="addevent()" type="submit" expand="block">Add New Event</ion-button>
    <ion-list [hidden]="events_items.length === 0">
        <ion-item-sliding *ngFor="let event of events_items; let i = index" class="ion-text-wrap" #i>
            <ion-item button (click)="goToEventDetail(event)">
                <div class="event-item">
                    <ion-label>{{event.title}}</ion-label>
                    <ion-note> {{event.startdatetime | date: 'fullDate'}} - {{event.enddatetime | date: 'fullDate'}}</ion-note>
                </div>
            </ion-item>
 
        </ion-item-sliding>
    </ion-list>

    <ion-list-header [hidden]="events_items.length > 0">
        No events Found
    </ion-list-header>

</ion-content>
