.logo {
  padding: 20px 0;
  min-height: 40px;
  text-align: center;

  img {
    max-width: 150px;
  }
}

.list {
  margin-bottom: 0;
}

:host(.can-go-back) {
  ion-header {
    ion-toolbar {
      ion-buttons {
        ion-menu-button {
          display: none;
        }
      }
    }
  }
}

:not(:host(.can-go-back)) {
  ion-header {
    ion-toolbar {
      ion-buttons {
        ion-back-button {
          display: none;
        }
      }
    }
  }
}
