<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Manage Home Screen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="login-page">

    <div class="logo">
        <small>Application welcome content</small>
    </div>

    <form #signupForm="ngForm" novalidate>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-label position="stacked" color="primary">Title</ion-label>
                <ion-input [(ngModel)]="banner.title" name="title" type="title" #title="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="banner.title.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Title is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Content</ion-label>
                <ion-textarea [(ngModel)]="banner.content" name="content" type="content" #content="ngModel" required>
                </ion-textarea>
            </ion-item>
            <ion-text [hidden]="banner.content.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Content is required
            </ion-text>

            <ion-item>
                <ion-row class="center">
                    <ion-button (click)="getPicture(0)">Add Image</ion-button>
                </ion-row>
                <br />
                <ion-row style="width:100%">
                    <img [src]="captureDataUrl" *ngIf="captureDataUrl" />

                </ion-row>
            </ion-item>

        </ion-list>

        <p class="ion-padding ion-margin-start">
            <ion-text color="danger">
                {{signupError}}
            </ion-text>
        </p>

        <div class="ion-padding">
            <ion-button (click)="upload()" *ngIf="captureDataUrl" type="submit" expand="block">Create</ion-button>
            <ion-button (click)="addBanner(signupForm, '')" *ngIf="!captureDataUrl" type="submit" expand="block">Create</ion-button>
        </div>
        <br />
        <br />
        <ion-grid>
            <ion-row  style="width:100%">
                <ion-col size="3" size-sm style="width:30%">
                    <div>
                        <small><b>Title</b></small>
                    </div>
                </ion-col>
                <ion-col size="3" size-sm style="width:35%">
                    <div>
                        <small><b>Content</b></small>
                    </div>
                </ion-col>
                <ion-col size="3" size-sm style="width:25%">
                    <div>
                        <b> </b>
                    </div>
                </ion-col>
                <ion-col size="3" size-sm style="width:10%">
                    <div>
                        <b> </b>
                    </div>
                </ion-col>
            </ion-row>
            <hr style="width:100%; border:1px; height:1px; background-color :gray"/>
            <br />
            <ion-item *ngFor="let banner of banners_items">

                <ion-row style="width:100%">
                    <ion-col size="3" size-sm style="width:30%">
                        <div>
                            {{ banner.title }}
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:35%">
                        <div>
                            {{ banner.content }}
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:25%">
                        <div>
                            <img [src]="banner.image" alt="" />
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:10%; align-content:center">
                        <div>
                            <ion-button (click)="deleteBanner(banner.id)">X</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-grid>


    </form>

    

</ion-content>
