ion-list-header {
  font-weight: 600;
}

ion-item-divider {
  font-style: italic;
  background: lightgray;
  border: 0;
}

.subsession-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.clear-filter {
  font-size: 24px;
  margin-right: 5px;
}
