<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Schedule</ion-title>

        <ion-buttons slot="end">
            <ion-button class="clear-filter" (click)="clearFilter()" [hidden]="!filterByDayId && !filterBySessionId">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="presentFilter()">
                <ion-icon ios="ios-options" md="md-options" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="yes">
                Favorites
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button *ngIf="useremail" (click)="addevent()" type="submit" expand="block">Add New</ion-button>
    <ion-list [hidden]="days.length === 0" *ngFor="let day of days">
        <ion-list-header>{{day.date | date:'fullDate'}}</ion-list-header>

        <div *ngFor="let session of day.sessions">
            <ion-item-divider sticky>
                <ion-label>{{session.time | date:'shortTime'}}</ion-label>
            </ion-item-divider>

            <ion-item-sliding #slidingItem *ngFor="let subSession of session.subSessions">
                <ion-item button (click)="goToSessionDetail(subSession)">
                    <div class="subsession-item">
                        <ion-label>{{subSession.subsession.title}}</ion-label>
                        <ion-note>
                            {{subSession.subsession.timeStart | date:'shortTime'}} &mdash; {{subSession.subsession.timeEnd | date:'shortTime'}}: {{subSession.subsession.location}}
                        </ion-note>
                    </div>
                </ion-item>
            </ion-item-sliding>
        </div>
    </ion-list>

    <ion-list [hidden]="days_.length === 0" *ngFor="let day of days_">
        <ion-list-header>{{day.date | date:'fullDate'}}</ion-list-header>

        <div *ngFor="let session of day.sessions">
            <ion-item-divider sticky>
                <ion-label>{{session.time | date:'shortTime'}}</ion-label>
            </ion-item-divider>

            <ion-item-sliding #slidingItem *ngFor="let subSession of session.subSessions">
                <ion-item button (click)="goToSessionDetail(subSession)">
                    <div class="subsession-item">
                        <ion-label>{{subSession.subsession.title}}</ion-label>
                        <ion-note>
                            {{subSession.subsession.timeStart | date:'shortTime'}} &mdash; {{subSession.subsession.timeEnd | date:'shortTime'}}: {{subSession.subsession.location}}
                        </ion-note>
                    </div>
                </ion-item>
            </ion-item-sliding>
        </div>
    </ion-list>

    <ion-list-header [hidden]="days.length > 0">
        No Schedule Found
    </ion-list-header>

</ion-content>


<script src="cordova.js"></script>
