<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
        </ion-buttons>

        <ion-title>{{session.subsession.title}}</ion-title>

        <ion-buttons slot="end" *ngIf="session && session.subsession">
            <ion-button (click)="toggleFavorites(session.subsession.$key)">
                <ion-icon name="star-outline" slot="icon-only" *ngIf="!isInFavorites(session.subsession.favorite)"></ion-icon>
                <ion-icon name="star" slot="icon-only" *ngIf="isInFavorites(session.subsession.favorite)"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="session && session.subsession">
        <div class="ion-padding">
            <h1>{{session.subsession.title}}</h1>
            <p>
                {{session.date | date:'fullDate'}}, {{session.subsession.timeStart | date:'shortTime'}} - {{session.subsession.timeEnd | date:'shortTime'}}
            </p>
            <p>{{session.subsession.location}}</p>
             <span class="large" [innerHTML]="session.subsession.description"></span>
            <div>
                <ion-icon name="star-outline" color="primary" (click)="rateSession(1, session)" slot="icon-only" *ngIf="!rate1"></ion-icon>
                <ion-icon name="star" color="primary" (click)="rateSession(1, session)" slot="icon-only" *ngIf="rate1"></ion-icon>
                <ion-icon name="star-outline" color="primary" (click)="rateSession(2, session)" slot="icon-only" *ngIf="!rate2"></ion-icon>
                <ion-icon name="star" color="primary" (click)="rateSession(2, session)" slot="icon-only" *ngIf="rate2"></ion-icon>
                <ion-icon name="star-outline" color="primary" (click)="rateSession(3, session)" slot="icon-only" *ngIf="!rate3"></ion-icon>
                <ion-icon name="star" color="primary" (click)="rateSession(3, session)" slot="icon-only" *ngIf="rate3"></ion-icon>
                <ion-icon name="star-outline" color="primary" (click)="rateSession(4, session)" slot="icon-only" *ngIf="!rate4"></ion-icon>
                <ion-icon name="star" color="primary" (click)="rateSession(4, session)" slot="icon-only" *ngIf="rate4"></ion-icon>
                <ion-icon name="star-outline" color="primary" (click)="rateSession(5, session)" slot="icon-only" *ngIf="!rate5"></ion-icon>
                <ion-icon name="star" color="primary" (click)="rateSession(5, session)" slot="icon-only" *ngIf="rate5"></ion-icon>
            </div>
            <ion-button (click)="share()">
                <ion-icon slot="icon-only" class="pull-right" name="share"></ion-icon>
            </ion-button>

            <br />
            <!--<h3>Speakers</h3>
    <ion-list>
        <ion-item button detail="false" *ngFor="let speaker of speakers">
            <ion-label>
                <h2>{{speaker.names}}</h2>
                <p>{{speaker.institution}}</p>
            </ion-label>
        </ion-item>
    </ion-list>-->
        </div>

        <!--<ion-list *ngIf="session.subsession.speakers && session.subsession.speakers.length">
            <ion-list-header>Speakers</ion-list-header>

            <ion-item *ngFor="let speaker of session.subsession.speakers">
                {{speaker}}
            </ion-item>
        </ion-list>-->
        <ion-button *ngIf="session.subsession.owner.length" (click)="removeSession(session.subsession.$key)" type="submit" expand="block">Delete Event</ion-button>

        <br />
        <h3 style="text-align:center">Comments</h3>
        <br />
        <ion-grid>

            <br />
            <ion-item *ngFor="let comment of comments_items">

                <ion-row style="width:100%">
                    <ion-col>
                        <div>
                            {{ comment.comment }}
                            <br>
                            <small>{{ comment.date.toDate() | date: 'fullDate'}} <br> by {{ comment.name }}</small>
                            <hr style="width:80%;border-style:dotted; border:1px; height:1px; background-color :gray" />
                        </div>
                    </ion-col>
                     

                    <ion-col size="3" size-sm style="width:10%; align-content:center">
                        <div>
                            <ion-button *ngIf="useremail == comment.email" (click)="deletecomment(comment.id)">X</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-grid>

        <hr style="width:100%; border:1px; height:1px; background-color :gray" />

        <form #signupForm="ngForm" novalidate>
            <ion-list class="ion-padding">
                <ion-item>
                    <ion-label position="stacked" color="primary">Comment</ion-label>
                    <ion-input [(ngModel)]="comment.comment" name="comment" type="comment" #commentq="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="comment.comment.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Comment is required
                </ion-text>

            </ion-list> 

            <div class="ion-padding">
                <ion-button (click)="addComment(signupForm, signupForm, '')" *ngIf="useremail" type="submit" expand="block">Add Comment</ion-button>
            </div>
            <br />


        </form>


    </div>
</ion-content>
