
 
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
            <ion-title color="light" class="ion-text-center">
                Direct Message
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content #IonContent fullscreen="true">
        <ion-spinner class="spin" *ngIf="loadingtext" name="dots"></ion-spinner>
        <ion-list>
            <div *ngFor="let chat of msgList; let i = index; ">
                <ion-row *ngIf="chat.touser == User">
                    <ion-col class="right" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].touser != chat.touser)|| !msgList[i+1])}">
                        <div class="imageAvatarRight">
                            <div class="imageAvatarBottom">
                                <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].touser == chat.touser)?'hidden':''">
                                    <div class="">
                                    </div>
                                    <ion-img [src]="image"></ion-img>
                                </ion-avatar>
                            </div>
                            <ion-label color="light">
                                <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].touser == chat.touser) &&
              (msgList[i-1] && msgList[i-1].touser == chat.touser)),
              'sharper-top':(msgList[i-1] && msgList[i-1].touser == chat.touser),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].touser == chat.touser)}">
                                    <p text-wrap padding>
                                        {{chat.message}}
                                    </p>
                                    <div class="corner-parent-right">
                                        <div class="corner-child-right">
                                        </div>
                                    </div>
                                </div>
                            </ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="chat.touser == toUser">
                    <ion-col class="left" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].touser != chat.touser)|| !msgList[i+1])}">
                        <div class="imageAvatarLeft">
                            <ion-label color="light">
                                <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].touser == chat.touser) &&
              (msgList[i-1] && msgList[i-1].touser == chat.touser)),
              'sharper-top':(msgList[i-1] && msgList[i-1].touser == chat.touser),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].touser == chat.touser)}">
                                    <p text-wrap padding>{{chat.message}}</p>
                                    <div class="corner-parent-left">
                                        <div class="corner-child-left">
                                        </div>
                                    </div>
                                </div>
                            </ion-label>
                            <div class="imageAvatarBottom">
                                <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
                                <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].touser == chat.touser)?'hidden':''">
                                    <div class="imageAvatarBottomIcon">
                                        <small>Me</small>
                                    </div>
                                </ion-avatar>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="((msgList[i+1] && msgList[i+1].touser != chat.touser)|| !msgList[i+1])">
                    <ion-col>
                        <ion-text>{{chat.time}}</ion-text>
                    </ion-col>
                </ion-row>
            </div>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)=" sendMsg()">
                <ion-icon name="send" expand="icon-only"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-row *ngIf="loader">
            <ion-col no-padding class="loading-col">
                <div class="imageAvatarRight">
                    <div class="imageAvatarBottomLoader">
                        <ion-avatar class="avatar">
                            <div class="imageAvatarBottomIcon">
                                <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                            </div>
                            <ion-img src="../../assets/chat/chat5.jpg"></ion-img>
                        </ion-avatar>
                    </div>
                    <ion-label>
                        <div class="chatDivLoader">
                            <ion-spinner name="dots" color="light"></ion-spinner>
                            <!-- <ion-img src="../../assets/chat/loader.gif"></ion-img> -->
                            <!-- <p text-wrap padding> {{paramData.name || 'Pam'}} is typing...</p> -->
                            <div class="corner-parent-right">
                                <div class="corner-child-right">

                                </div>
                            </div>
                        </div>
                    </ion-label>
                </div>
            </ion-col>
        </ion-row>

    </ion-content>

    <ion-footer class="footer">
        <ion-item>
            <ion-textarea class="input-box" type="text" placeholder="Write a message..." [(ngModel)]="user_input" ></ion-textarea>
        </ion-item>
    </ion-footer>

 
