ion-list-header {
  font-weight: 600;
}

ion-item-divider {
  font-style: italic;
  background: lightgray;
  border: 0;
}

.subsession-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.clear-filter {
  font-size: 24px;
  margin-right: 5px;
}


.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}
