<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
         
    </ion-toolbar>

    <!--<ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="yes">
                Favorites
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>-->

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let event of events">
        <ion-card-header>
            <ion-card-subtitle>{{event.startdatetime | date: 'shortDate'}} - {{event.enddatetime | date: 'shortDate'}}</ion-card-subtitle>
            <ion-card-title (click)="goToSessionDetail(event)">{{event.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content (click)="goToSessionDetail(event)">
            <div>
                <img [src]="event.image" alt="" />
            </div>
            <div>
                <br />
                {{limitText(event.description)}}
           </div>
                <div>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(1, event)" slot="icon-only" *ngIf="!event.rate1"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(1, event)" slot="icon-only" *ngIf="event.rate1"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(2, event)" slot="icon-only" *ngIf="!event.rate2"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(2, event)" slot="icon-only" *ngIf="event.rate2"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(3, event)" slot="icon-only" *ngIf="!event.rate3"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(3, event)" slot="icon-only" *ngIf="event.rate3"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(4, event)" slot="icon-only" *ngIf="!event.rate4"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(4, event)" slot="icon-only" *ngIf="event.rate4"></ion-icon>
                    <ion-icon name="star-outline" color="primary" (click)="rateSession(5, event)" slot="icon-only" *ngIf="!event.rate5"></ion-icon>
                    <ion-icon name="star" color="primary" (click)="rateSession(5, event)" slot="icon-only" *ngIf="event.rate5"></ion-icon>
                </div>

        </ion-card-content>
        <ion-item>

            <ion-icon name="pin" slot="start" (click)="eventlocation(event)"></ion-icon>
            <ion-label>{{event.startdatetime | date: 'fullDate'}}</ion-label>
            <div>
                <ion-button (click)="deletersvp(event)" *ngIf="event.rsvpd" slot="end">RSVP'd</ion-button>
                <ion-button (click)="addrsvp(event)" *ngIf="!event.rsvpd" fill="outline" slot="end">RSVP</ion-button>
            </div>
        </ion-item>
    </ion-card>

    <ion-spinner class="spin" *ngIf="loadingtext" name="dots"></ion-spinner>



    <ion-list-header [hidden]="events.length > 0" *ngIf="!loadingtext">
        No Events Found
    </ion-list-header>
    <br/>
    <ion-grid >
        <ion-row style="width:100%;text-align:center">
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear" (click)="gotoMenu('schedule')">
                    <ion-icon slot="icon-only" name="calendar"></ion-icon>
                </ion-button>
                <ion-label>
                    Schedule
                </ion-label>
            </ion-col>
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear" (click)="gotoMenu('speakers')">
                    <ion-icon slot="icon-only" name="contacts"></ion-icon>
                </ion-button>
                <ion-label>
                    Speakers
                </ion-label>
            </ion-col>
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear" (click)="gotoMenu('map')">
                    <ion-icon slot="icon-only" name="map"></ion-icon>
                </ion-button>
                <ion-label>
                    Map
                </ion-label>
            </ion-col>
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear"  (click)="gotoMenu('chat')">
                    <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
                </ion-button>
                <ion-label>
                    Chat
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row style="width:100%;text-align:center">
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear" (click)="gotoMenu('committees')">
                    <ion-icon slot="icon-only" name="people" ></ion-icon>
                </ion-button>
                <ion-label>
                    Attendees
                </ion-label>
            </ion-col>
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear" (click)="gotoMenu('abstracts')">
                    <ion-icon slot="icon-only" name="logo-rss"></ion-icon>
                </ion-button>
                <ion-label>
                    Feeds
                </ion-label>
            </ion-col>
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear"  (click)="gotoMenu('realsponsors')">
                    <ion-icon slot="icon-only" name="wallet"></ion-icon>
                </ion-button>
                <ion-label>
                    Sponsors
                </ion-label>
            </ion-col>
            <ion-col size="3" size-sm style="width:25%">
                <ion-button expand="block" fill="clear"  (click)="gotoMenu('exhibits')">
                    <ion-icon slot="icon-only" name="brush"></ion-icon>
                </ion-button>
                <ion-label>
                    Exhibitors
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<script src="cordova.js"></script>
