<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end" *ngIf="showSkip && loaded" >
            <ion-button (click)="startApp()" color="primary">Skip</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart()" pager>
 
            <ion-slide *ngFor="let banner of banners_items" >
                <img [src]="banner.image" class="slide-image" alt=""/>
                <h2 class="slide-title">
                    {{ banner.title }}
                </h2>
                <p>
                    {{ banner.content }}
                </p>
            </ion-slide>
 
            <ion-spinner class="spin" *ngIf="!loaded" name="dots"></ion-spinner>
            <ion-slide *ngIf="loaded">
                <img src="assets/img/applogo.png" class="slide-image" />
                <h2 class="slide-title"></h2>
                <ion-button size="large" fill="clear" (click)="startApp()">
                    Continue
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
            </ion-slide>

    </ion-slides>
</ion-content>
