<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Add New Event</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="login-page">

    <br/>

    <form #signupForm="ngForm" novalidate>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-label position="stacked" color="primary">Title</ion-label>
                <ion-input [(ngModel)]="signup.title" name="title" type="text" #title="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.title.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Title is required
            </ion-text>
            <!--<ion-item>
                <ion-label position="stacked" color="primary">Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="signup.date" name="date" type="date-local" #date="ngModel" required>
                </ion-datetime>
            </ion-item>-->
            <ion-item>
                <ion-label position="stacked" color="primary">Start Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="signup.startdatetime" name="startdatetime" type="time-local" #startdatetime="ngModel" required>
                </ion-datetime>
            </ion-item>
            <ion-text [hidden]="signup.startdatetime.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Date is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">End Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="signup.enddatetime" name="enddatetime" type="time-local" #enddatetime="ngModel" required>
                </ion-datetime>
            </ion-item>
            <ion-text [hidden]="signup.enddatetime.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                End is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Description</ion-label>
                <ion-textarea [(ngModel)]="signup.description" name="description" type="textarea" #description="ngModel" required>
                </ion-textarea>
            </ion-item>
            <ion-text [hidden]="signup.description.length > 0 || submitted == false" color="danger" class="ion-padding-start">
                Description is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Location</ion-label>
                <ion-input [(ngModel)]="signup.location" name="location" type="text" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.location.length > 0 || submitted == false" color="danger" class="ion-padding-start">
                Location is required
            </ion-text>
            <ion-item  >
                <ion-row class="center">
                    <ion-button (click)="getPicture(0)" color="light" expand="full" shape="round">Event Picture</ion-button>
                </ion-row>
                <br />
                <ion-row style="width:100%">
                    <img [src]="captureDataUrl" *ngIf="captureDataUrl" />

                </ion-row>
            </ion-item>
        </ion-list>

        <p class="ion-padding ion-margin-start">
            <ion-text color="danger">
                {{signupError}}
            </ion-text>
        </p>

        <div class="ion-padding">
            <ion-button (click)="onSignup(signupForm)" type="submit" color="primary" expand="block">Add</ion-button>
        </div>
    </form>

</ion-content>
