<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Sponsors</ion-title>
    </ion-toolbar>

    <!--<ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateChat()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>-->
</ion-header>

<ion-content>
    <form #signupForm="ngForm" novalidate *ngIf="admin">
        <ion-list class="ion-padding">
            <ion-item>
                <ion-label position="stacked" color="primary">Name</ion-label>
                <ion-input [(ngModel)]="signup.name" name="name" type="name" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.name.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Name is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Phone</ion-label>
                <ion-input [(ngModel)]="signup.phone" name="phone" type="phone" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.phone.length == 10 || submitted == false" color="danger" class="ion-padding-start">
                Phone is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Email</ion-label>
                <ion-input [(ngModel)]="signup.email" name="email" type="email" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="email.valid || submitted == false" color="danger" class="ion-padding-start">
                Email is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Description</ion-label>
                <ion-input [(ngModel)]="signup.description" name="description" type="description" #description="ngModel" required>
                </ion-input>
            </ion-item> 

            <ion-item>
                <ion-label position="stacked" color="primary">Facebook</ion-label>
                <ion-input [(ngModel)]="signup.facebook" name="facebook" type="facebook" #email="ngModel" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Twitter</ion-label>
                <ion-input [(ngModel)]="signup.twitter" name="twitter" type="twitter" #twitter="ngModel" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Webpage</ion-label>
                <ion-input [(ngModel)]="signup.webpage" name="webpage" type="webpage" #webpage="ngModel" required>
                </ion-input>
            </ion-item> 
            <ion-item>
                <ion-row class="center">
                    <ion-button (click)="getPicture(0)">Add Image</ion-button>
                </ion-row>
                <br />
                <ion-row style="width:100%">
                    <img [src]="captureDataUrl" *ngIf="captureDataUrl" />

                </ion-row>
            </ion-item>
        </ion-list>

        <p class="ion-padding ion-margin-start">
            <ion-text color="danger">
                {{signupError}}
            </ion-text>
        </p>

        <div class="ion-padding">
            <ion-button (click)="upload(signupForm)" type="submit" expand="block">Create</ion-button>
        </div>
    </form>

    <ion-list>
        <ion-item button *ngFor="let c of chat">
            <ion-avatar slot="start" (click)="goToSessionDetail(c)">
                <img [src]="c.image">
            </ion-avatar>
            <ion-label (click)="goToSessionDetail(c)">
                <h2>{{c.name}} {{c.surname}}</h2>
                <p>{{c.email}}</p>
            </ion-label>
            <ion-button *ngIf="admin" (click)="deleteBanner(c.id)">X</ion-button>

        </ion-item>
    </ion-list>
</ion-content>
