<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" *ngIf="notloggedIn">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="schedule" *ngIf="notloggedIn">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chat" *ngIf="notloggedIn">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>Chat</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
