<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="about">
        <div class="ion-text-center">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="about-info">
            <h1 class="ion-text-center ion-padding-horizontal">The Moses Kotane Institute (MKI)</h1>

            <ion-list lines="none">

                <ion-item>
                    <ion-text color="medium" slot="start">Address</ion-text>
                    <div slot="end" class="ion-text-right">Moses Kotane House, Lakeside Unit 14-Derby Downs 1 University Road, Westville, 3629, South Africa</div>
                </ion-item>

                <ion-item>
                    <ion-text color="medium" slot="start">Postal</ion-text>
                    <div slot="end" class="ion-text-right">PO Box 2357, Westville, 3629</div>
                </ion-item>

                <ion-item>
                    <ion-text color="medium" slot="start">Phone:</ion-text>
                    <div slot="end" class="ion-text-right">+27 31 266 1777</div>
                </ion-item>


            </ion-list>

            <p class="ion-padding-horizontal">The Moses Kotane Institute (MKI) was established in 2007 as the South African National Liberation Institute of Technology, Philosophy and Political Science (SANLITPPS). In 2009, the MKI was formally registered as a non-profit company in terms of the Companies Act, 2008. In 2018, the institute was relaunched as a Research Institute. The focus is on Research and Development, Innovation and Technology, Maritime and Economics. The Institute is an entity of the KwaZulu-Natal Department of Economic Development, Tourism and Environmental Affairs.</p>

            <ion-list>
                <ion-list-header>Contact</ion-list-header>

                <ion-item button detail="false" (click)="sendEmail('info@moseskotaneinstitute.com')">
                    <ion-label>Email</ion-label>
                    <ion-icon name="mail" slot="end"></ion-icon>
                </ion-item>
                <ion-item button detail="false" (click)="findUs()">
                    <ion-label>Find us</ion-label>
                    <ion-icon name="map" slot="end"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
