<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
        </ion-buttons>

        <ion-title>{{exhibit?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center" *ngIf="exhibit">
        <img [src]="exhibit.image" [alt]="exhibit.name"><br>
    </div>

    <div class="ion-padding-horizontal">
        <h1>{{exhibit?.name}}</h1>
        <p>{{exhibit?.description}}</p>

    </div>

    <ion-list>
        <ion-list-header>Contact</ion-list-header>

        <ion-item button detail="false" (click)="call(exhibit?.phone)">
            <ion-icon name="call" slot="end"></ion-icon>
            Phone
        </ion-item>
        <ion-item button detail="false" (click)="sendEmail(exhibit?.email)">
            <ion-icon name="mail" slot="end"></ion-icon>
            Email
        </ion-item>
        <ion-item button detail="false" (click)="openUrl(exhibit?.facebook)">
            <ion-icon name="logo-facebook" slot="end"></ion-icon>
            Facebook
        </ion-item>
        <ion-item button detail="false" (click)="openUrl(exhibit?.twitter)">
            <ion-icon name="logo-twitter" slot="end"></ion-icon>
            Twitter
        </ion-item>
        <ion-item button detail="false" (click)="openUrl(exhibit?.webpage)">
            <ion-icon name="globe" slot="end"></ion-icon>
            Webpage
        </ion-item>
    </ion-list>
</ion-content>
