:root {
  /** favorite **/
  --ion-color-favorite: #69BB7B;
  --ion-color-favorite-rgb: 105, 187, 123;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0, 0, 0;
  --ion-color-favorite-shade: #69BB7B;
  --ion-color-favorite-tint: #69BB7B;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}
