<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/schedule"></ion-back-button>
        </ion-buttons>

        <ion-title>{{event?.title}}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="toggleFavorites(event)">
                <ion-icon name="star-outline" slot="icon-only" *ngIf="!isInFavorites(event?.favorite)"></ion-icon>
                <ion-icon name="star" slot="icon-only" *ngIf="isInFavorites(event?.favorite)"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="Details">
                Details
            </ion-segment-button>
            <ion-segment-button value="Sessions">
                Sessions
            </ion-segment-button>
            <ion-segment-button value="Speakers">
                Speakers
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div>
        <div *ngIf="segment == 'Details'">
            <h3><ion-input [(ngModel)]="event.title" name="title" type="text" #title="ngModel" required></ion-input></h3>
            <p>
                {{event?.startdatetime | date: 'fullDate'}} - {{event?.enddatetime | date: 'fullDate'}}
            </p>

            <ion-textarea [(ngModel)]="event.description" name="description" type="textarea" rows="8" #description="ngModel" required></ion-textarea>
            <br />
            <ion-button (click)="updateevent(event)" type="submit" expand="block">Update Event</ion-button>
            <br />


            <br />
            <h3 style="text-align:center">Documents</h3>

            <div>
                <ion-item text-wrap (click)="selectFile(event)">
                    <button item-left ion-fab color="primary"><ion-icon name="list-box"></ion-icon></button>
                    <p> Upload a file to your event</p>
                </ion-item>
                <ion-list>
                    <ion-item-sliding *ngFor="let f of files">
                        <ion-item (click)="openFile(f)">
                            <ion-icon name="document" slot="start" *ngIf="f.name.endsWith('pdf')"></ion-icon>

                            <ion-label class="ion-text-wrap">
                                {{ f.name }}
                            </ion-label>
                        </ion-item>


                    </ion-item-sliding>
                </ion-list>
            </div>

            <br />
            <h3 style="text-align:center">Social Media</h3>





            <form #SocialForm="ngForm" novalidate>
                <ion-list class="ion-padding">
                    <ion-item>
                        <ion-label position="stacked" color="primary">Title</ion-label>
                        <ion-input [(ngModel)]="social.title" name="title" type="title" #title1="ngModel" required>
                        </ion-input>
                    </ion-item>
                    <ion-text [hidden]="social.title.length > 1" color="danger" class="ion-padding-start">
                        Title is required
                    </ion-text>

                    <ion-item>
                        <ion-label position="stacked" color="primary">Type</ion-label>
                        <ion-select [(ngModel)]="social.type" okText="Okay" cancelText="Dismiss" name="type" #type="ngModel">
                            <ion-select-option value="Twitter">Twitter Link</ion-select-option>
                            <ion-select-option value="Facebook">Facebook Link</ion-select-option>
                            <ion-select-option value="LinkedIn">LinkedIn Link</ion-select-option>
                            <ion-select-option value="hashtag">#hashtag</ion-select-option>
                            <ion-select-option value="Other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked" color="primary">Link</ion-label>
                        <ion-input [(ngModel)]="social.link" name="link" type="link" #link="ngModel" required>
                        </ion-input>
                    </ion-item>
                    <ion-text [hidden]="social.link.length > 1" color="danger" class="ion-padding-start">
                        Link is required
                    </ion-text>

                </ion-list>

                <div class="ion-padding">
                    <ion-button (click)="addSocial(SocialForm)" type="submit" expand="block">Add Social Link</ion-button>
                </div>
                <br />
                <br />
                <ion-grid>
                    <ion-row style="width:100%">
                        <ion-col size="4" size-sm style="width:45%">
                            <div>
                                <small><b>Title</b></small>
                            </div>
                        </ion-col>
                        <ion-col size="4" size-sm style="width:45%">
                            <div>
                                <small><b>Type</b></small>
                            </div>
                        </ion-col>
                        <ion-col size="4" size-sm style="width:10%">
                            <div>
                                <b> </b>
                            </div>
                        </ion-col>
                    </ion-row>
                    <hr style="width:100%; border:1px; height:1px; background-color :gray" />
                    <br />
                    <ion-item *ngFor="let social of social_items">

                        <ion-row style="width:100%">
                            <ion-col size="4" size-sm style="width:45%">
                                <div>
                                    {{social.title}}
                                </div>
                            </ion-col>
                            <ion-col size="4" size-sm style="width:45%">
                                <div>
                                    {{social.type}}
                                </div>
                            </ion-col>
                            <ion-col size="4" size-sm style="width:10%; align-content:center">
                                <div>
                                    <ion-button (click)="deleteSocial(social.id)">X</ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-grid>


            </form>


            <br />
            <div id="map">
                <div style="height: 300px; width: 100%" #mapCanvas id="map_canvas"></div>
            </div>

            <br />
            <ion-button (click)="deleteevent(event?.id)" type="submit" expand="block">Delete Event</ion-button>
            <br />
            <h3 style="text-align:center">RSVPs ({{rsvps_items.length - 1}})</h3>
            <ion-item *ngFor="let rsvp of rsvps_items">
                <ion-row style="width:100%">
                    <ion-col size-sm style="width:100%">
                        <div>
                            {{ rsvp }}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
            <br />
        </div>
    </div>
    <div *ngIf="segment == 'Sessions'">

        <h3 style="text-align:center">Event Sessions</h3>
        <form #sessionForm="ngForm" novalidate>
            <ion-list class="ion-padding">
                <ion-item>
                    <ion-label position="stacked" color="primary">Title</ion-label>
                    <ion-input [(ngModel)]="eventsession.title" name="title" type="names" #title="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="eventsession.title.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Title is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Description</ion-label>
                    <ion-textarea [(ngModel)]="eventsession.description" name="description" type="institution" #description="ngModel" required>
                    </ion-textarea>
                </ion-item>
                <ion-text [hidden]="eventsession.description.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Description is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Date</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="eventsession.date" name="date" type="date-local" #date="ngModel" required>
                    </ion-datetime>
                </ion-item>
                <ion-text [hidden]="eventsession.date.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Date is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Start Time</ion-label>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="eventsession.startdatetime" name="startdatetime" type="time-local" #startdatetime="ngModel" required>
                    </ion-datetime>
                </ion-item>
                <ion-text [hidden]="eventsession.startdatetime.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Start time is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">End Time</ion-label>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="eventsession.enddatetime" name="enddatetime" type="time-local" #enddatetime="ngModel" required>
                    </ion-datetime>
                </ion-item>
                <ion-text [hidden]="eventsession.enddatetime.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    End time is required
                </ion-text>

            </ion-list>


            <div class="ion-padding">
                <ion-button (click)="addsession(sessionForm, sessionForm, '')" type="submit" expand="block">Add Session</ion-button>
            </div>
            <br />
            <br />
            <ion-grid>
                <ion-row style="width:100%">
                    <ion-col size="3" size-sm style="width:30%">
                        <div>
                            <small><b>Title</b></small>
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:35%">
                        <div>
                            <small><b>Start Time</b></small>
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:25%">
                        <div>
                            <small><b>End Time</b></small>
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:10%">
                        <div>
                            <b> </b>
                        </div>
                    </ion-col>
                </ion-row>
                <hr style="width:100%; border:1px; height:1px; background-color :gray" />
                <br />
                <ion-item *ngFor="let session of sessions_items">

                    <ion-row style="width:100%">
                        <ion-col size="3" size-sm style="width:30%">
                            <div>
                                {{ session.title }}
                            </div>
                        </ion-col>
                        <ion-col size="3" size-sm style="width:35%">
                            <div>
                                {{ session.startdatetime | date: 'shortTime' }}
                            </div>
                        </ion-col>
                        <ion-col size="3" size-sm style="width:25%">
                            <div>
                                {{ session.enddatetime | date: 'shortTime'  }}
                            </div>
                        </ion-col>
                        <ion-col size="3" size-sm style="width:10%; align-content:center">
                            <div>
                                <ion-button (click)="deletesession(session.title, session.startdatetime, session.enddatetime)">X</ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-grid>


        </form>

    </div>




    <div *ngIf="segment == 'Speakers'">
        <h3 style="text-align:center">Event Speakers</h3>
        <form #signupForm="ngForm" novalidate>
            <ion-list class="ion-padding">
                <ion-item>
                    <ion-label position="stacked" color="primary">Names</ion-label>
                    <ion-input [(ngModel)]="speaker.names" name="names" type="names" #names="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="speaker.names.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Names is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Institution</ion-label>
                    <ion-input [(ngModel)]="speaker.institution" name="institution" type="institution" #institution="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="speaker.institution.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Institution is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Biography</ion-label>
                    <ion-input [(ngModel)]="speaker.biography" name="biography" type="biography" #biography="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="speaker.biography.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Biography is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Phone</ion-label>
                    <ion-input [(ngModel)]="speaker.phone" name="phone" type="phone" #phone="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="speaker.phone.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Phone is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">Email</ion-label>
                    <ion-input [(ngModel)]="speaker.email" name="email" type="email" #email="ngModel" required>
                    </ion-input>
                </ion-item>
                <ion-text [hidden]="speaker.email.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                    Email is required
                </ion-text>

                <ion-item>
                    <ion-label position="stacked" color="primary">LinkedIn</ion-label>
                    <ion-input [(ngModel)]="speaker.linkedin" name="linkedin" type="linkedin" #email="ngModel">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" color="primary">Web Page</ion-label>
                    <ion-input [(ngModel)]="speaker.webpage" name="webpage" type="webpage" #email="ngModel">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-row class="center">
                        <ion-button (click)="getPicture(0)">Add Picture</ion-button>
                    </ion-row>
                    <br />
                    <ion-row style="width:100%">
                        <img [src]="captureDataUrl" *ngIf="captureDataUrl" />

                    </ion-row>
                </ion-item>

            </ion-list>

            <p class="ion-padding ion-margin-start">
                <ion-text color="danger">
                    {{signupError}}
                </ion-text>
            </p>

            <div class="ion-padding">
                <ion-button (click)="upload(signupForm)" *ngIf="captureDataUrl" type="submit" expand="block">Add Speaker</ion-button>
                <ion-button (click)="addSpeaker(signupForm, signupForm, '')" *ngIf="!captureDataUrl" type="submit" expand="block">Add Speaker</ion-button>
            </div>
            <br />
            <br />
            <ion-grid>
                <ion-row style="width:100%">
                    <ion-col size="3" size-sm style="width:30%">
                        <div>
                            <small><b>Names</b></small>
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:35%">
                        <div>
                            <small><b>Institution</b></small>
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:25%">
                        <div>
                            <b> </b>
                        </div>
                    </ion-col>
                    <ion-col size="3" size-sm style="width:10%">
                        <div>
                            <b> </b>
                        </div>
                    </ion-col>
                </ion-row>
                <hr style="width:100%; border:1px; height:1px; background-color :gray" />
                <br />
                <ion-item *ngFor="let speaker of speakers_items">

                    <ion-row style="width:100%">
                        <ion-col size="3" size-sm style="width:30%">
                            <div>
                                {{ speaker.names }}
                            </div>
                        </ion-col>
                        <ion-col size="3" size-sm style="width:35%">
                            <div>
                                {{ speaker.institution }}
                            </div>
                        </ion-col>
                        <ion-col size="3" size-sm style="width:25%">
                            <div>
                                <img [src]="speaker.image" alt="" />
                            </div>
                        </ion-col>
                        <ion-col size="3" size-sm style="width:10%; align-content:center">
                            <div>
                                <ion-button (click)="deleteSpeaker(speaker.id)">X</ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-grid>


        </form>

    </div>
</ion-content>
