<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/speakers"></ion-back-button>
        </ion-buttons>

        <ion-title>{{speaker?.names}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center" *ngIf="speaker">
        <img class="avatar" [src]="speaker?.picture" [alt]="speaker?.names"><br>
    </div>

    <div class="ion-padding">
        <h1>{{speaker?.names}}</h1>
        <p>{{speaker?.institution}}</p>
        <p>{{speaker?.email}}</p>
        <div>
            <ion-icon name="star-outline" color="primary" (click)="rateSession(1, speaker)" slot="icon-only" *ngIf="!rate1"></ion-icon>
            <ion-icon name="star" color="primary" (click)="rateSession(1, speaker)" slot="icon-only" *ngIf="rate1"></ion-icon>
            <ion-icon name="star-outline" color="primary" (click)="rateSession(2, speaker)" slot="icon-only" *ngIf="!rate2"></ion-icon>
            <ion-icon name="star" color="primary" (click)="rateSession(2, speaker)" slot="icon-only" *ngIf="rate2"></ion-icon>
            <ion-icon name="star-outline" color="primary" (click)="rateSession(3, speaker)" slot="icon-only" *ngIf="!rate3"></ion-icon>
            <ion-icon name="star" color="primary" (click)="rateSession(3, speaker)" slot="icon-only" *ngIf="rate3"></ion-icon>
            <ion-icon name="star-outline" color="primary" (click)="rateSession(4, speaker)" slot="icon-only" *ngIf="!rate4"></ion-icon>
            <ion-icon name="star" color="primary" (click)="rateSession(4, speaker)" slot="icon-only" *ngIf="rate4"></ion-icon>
            <ion-icon name="star-outline" color="primary" (click)="rateSession(5, speaker)" slot="icon-only" *ngIf="!rate5"></ion-icon>
            <ion-icon name="star" color="primary" (click)="rateSession(5, speaker)" slot="icon-only" *ngIf="rate5"></ion-icon>
        </div>
    </div>

    <div class="ion-padding-top" *ngIf="!!speaker?.biography">
        <ion-list>
            <ion-list-header>Biography</ion-list-header>
            <ion-item class="ion-text-wrap">{{speaker?.biography}}</ion-item>
        </ion-list>
    </div>

    <ion-list class="ion-no-padding">
        <ion-list-header>Contact</ion-list-header>

        <ion-item button detail="false" (click)="call(speaker?.phone)">
            <ion-label>Phone</ion-label>
            <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
        <ion-item button detail="false" (click)="sendEmail(speaker?.email)">
            <ion-label>Email</ion-label>
            <ion-icon name="mail" slot="end"></ion-icon>
        </ion-item>
        <ion-item button detail="false" (click)="openLinkedin(speaker?.linkedin)">
            <ion-label>Linked in</ion-label>
            <ion-icon name="logo-linkedin" slot="end"></ion-icon>
        </ion-item>
        <ion-item button detail="false" (click)="openUrl(speaker?.webpage)">
            <ion-label>Webpage</ion-label>
            <ion-icon name="globe" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
