<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Admin Users</ion-title>
    </ion-toolbar>

    <!--<ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateChat()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>-->
</ion-header>

<ion-content>
    <form #signupForm="ngForm" novalidate>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-label position="stacked" color="primary">Name</ion-label>
                <ion-input [(ngModel)]="signup.name" name="name" type="name" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.name.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Name is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Surname</ion-label>
                <ion-input [(ngModel)]="signup.surname" name="surname" type="surname" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.surname.length > 1 || submitted == false" color="danger" class="ion-padding-start">
                Surname is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Phone</ion-label>
                <ion-input [(ngModel)]="signup.phone" name="phone" type="phone" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="signup.phone.length == 10 || submitted == false" color="danger" class="ion-padding-start">
                Phone is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Email</ion-label>
                <ion-input [(ngModel)]="signup.email" name="email" type="email" #email="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="email.valid || submitted == false" color="danger" class="ion-padding-start">
                Email is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="password.valid || submitted == false" color="danger" class="ion-padding-start">
                Password is required
            </ion-text>
        </ion-list>

        <p class="ion-padding ion-margin-start">
            <ion-text color="danger">
                {{signupError}}
            </ion-text>
        </p>

        <div class="ion-padding">
            <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
        </div>
    </form>

    <ion-list>
        <ion-item button  *ngFor="let c of chat">
            <ion-avatar slot="start">
                <img [src]="c.image">
            </ion-avatar>
            <ion-label>
                <h2>{{c.name}} {{c.surname}}</h2>
                <p>{{c.email}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
