<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Social Media</ion-title>
         
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="Links">
                Links
            </ion-segment-button>
            <ion-segment-button value="Feeds">
                Feeds
            </ion-segment-button> 
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="segment == 'Links'">
        <ion-list [hidden]="abstracts.length === 0">
            <ion-item-sliding *ngFor="let abstract of abstracts; let i = index" class="ion-text-wrap" #i>
                <ion-item button>
                    <div class="abstract-item">
                        <ion-label class="ion-text-wrap"><a class="twitter-timeline"  (click)="openFile(abstract.link)">{{abstract.title}}</a></ion-label>
                        <ion-note>{{abstract.date.toDate() | date: 'fullDate'}}</ion-note>
                        <p class="ion-padding-top ion-no-margin">
                            <ion-icon name="pricetag"></ion-icon>
                            {{abstract.type}}
                        </p>
                    </div>
                </ion-item>


            </ion-item-sliding>
        </ion-list>

        <ion-list-header [hidden]="abstracts.length > 0">
            No social links Found
        </ion-list-header>
    </div>
    <div *ngIf="segment == 'Feeds'">
        <ion-list [hidden]="abstractsfeeds.length === 0">
            <ion-item-sliding *ngFor="let abstract of abstractsfeeds; let i = index" class="ion-text-wrap" #i>
                <ion-item button>
                    <div class="abstract-item">
                        <ion-label class="ion-text-wrap"><a class="twitter-timeline" (click)="openFile('https://twitter.com/hashtag/' + abstract.link.replace('#', ''))">{{abstract.title}}</a></ion-label>
                        <ion-note>{{abstract.date.toDate() | date: 'fullDate'}}</ion-note>
                        <p class="ion-padding-top ion-no-margin">
                            <ion-icon name="pricetag"></ion-icon>
                            {{abstract.type}}
                        </p>
                    </div>
                </ion-item>


            </ion-item-sliding>
        </ion-list>
        <ion-list-header [hidden]="abstractsfeeds.length > 0">
            No social links Found
        </ion-list-header>
    </div>

</ion-content>
