<ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-button (click)="dismiss()">Cancel</ion-button>
            </ion-buttons>

            <ion-title>Filter Sessions</ion-title>

            <ion-buttons slot="end">
                <ion-button (click)="applyFilters()" strong>Done</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-radio-group (ionChange)="selectedDayChange($event)">
                <ion-list-header>Days</ion-list-header>
                <ion-item button detail="false">
                    <ion-label>All</ion-label>
                    <ion-radio value="all" checked="{{ selectedDay === 'all' }}"></ion-radio>
                </ion-item>

                <ion-item button detail="false" *ngFor="let day of days">
                    <ion-label>{{ day.date | date: 'fullDate' }}</ion-label>
                    <ion-radio value="{{ day.$key }}" checked="{{ selectedDay === day.$key }}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-list>
            <ion-radio-group (ionChange)="sessionsChange($event)">
                <ion-list-header>Sessions</ion-list-header>
                <ion-item button detail="false">
                    <ion-label>All</ion-label>
                    <ion-radio value="all" checked="{{ selectedSession === 'all' }}"></ion-radio>
                </ion-item>

                <ion-item button detail="false" *ngFor="let session of sessions">
                    <ion-label>{{ session.time | date:'shortTime' }}</ion-label>
                    <ion-radio value="{{ session.$key }}" checked="{{ selectedSession === session.$key }}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ion-content>
